<nav id="navdashboard" class="bg-white shadow-2xl">
  <ul class="flex justify-between ">
    <li>
      <h3 class="nameheader text-lg text-black uppercase cursor-pointer ">russian north ecology base</h3>
    </li>
    <li class="burger" (click)="toggleNavbar()">
      <i class="material-icons">{{showMenu?"close":"menu"}}</i>
    </li>
    <li class="menu" [class.is-open]="showMenu">
      <a class="menu-item text-lg text-black hover:text-damaskrose hover:underline duration-500">home</a>
      <a class="menu-item text-lg text-black hover:text-damaskrose hover:underline duration-500">map</a>
      <a class="menu-item text-lg text-black hover:text-damaskrose hover:underline duration-500">expeditions</a>
      <button class="bg-transparent text-black uppercase duration-500 hover:bg-damaskrose hover:text-white py-2 px-4 border border-black hover:border-damaskrose rounded">
        Log In
      </button>
    </li>
  </ul>
</nav>
